<div class="modal-dialog">
  <div class="modal-content">
    <h1>この内容でよろしいですか？</h1>
    <%= form_with(model: @content, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p class="tweet_content"><%= simple_format(@content.content) %></p>
    <p><%= form.submit 'はい'%></p>
  <% end %>

  <%= form_with(model: @content, url: new_t_clone_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :content %>
    <p><%= form.submit 'いいえ', name: 'back'%></p>
  <% end %>
  </div>
</div>
